{{ define "main" }}
<article class="container wrapper">
    <div class="post">
        <div class="post-header">
            {{ if ne .Date.Year 1 }}
                <div class="meta">
                    <div class="date">
                        <span class="day">{{ dateFormat "02" .Date }}</span>
                        <span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
                    </div>
                </div>
            {{ end }}
            <div class="matter">
                <h1 class="title">{{ .Title }}</h1>
            </div>
        </div>
        <div>
            {{ .ReadingTime }} min read, ~{{ .FuzzyWordCount }} words, Last Modified: {{ dateFormat "03-Jan-2006" .Lastmod }}
        </div>     
        <div class="markdown">
            {{ .Content }}
            {{ if .Site.Params.Mermaid }}
                {{ if .Page.Store.Get "hasMermaid" }}
                <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
                <script>
                    mermaid.initialize({ startOnLoad: true });
                </script>
            {{ end }}
        {{ end }}
        </div>

        <div class="tags">
            {{ if ne .Type "page" }}
                {{ if gt .Params.tags 0 }}
                    <ul class="flat">
                        {{ range .Params.tags }}
                        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
            {{ end }}
        </div>
        </div>
    </div>
</article>
{{end}}